.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
h1 {
  font-size: 45px;
  color: rgb(102, 96, 88);
  text-shadow: 10px 4px 20px rgb(63, 59, 59);
}
h2 {
  text-align: center;
  margin: 10px 200px 30px 200px;
  font-size: 40px;
  color: rgb(66, 107, 93);
}
#timer {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

#question {
  text-shadow: 10px 2px 8px rgb(176, 171, 171);
  font-size: 2.5em;
  font-weight: bold;
}

#choices {
  font-size: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#choices li:hover {
  text-shadow: 2px 2px 8px black;
  cursor: pointer;
}

#choices li {
  background-color: blanchedalmond;
  border: 1px solid black;
  margin-bottom: 10px;
}
#submit {
  display: none;
}
#score {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}
button {
  background-color: rgb(96, 138, 138);
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}
.result {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(198, 175, 147);
}
#initials-form input {
  font-size: 2rem;
}
#high-scores ul li {
  font-size: 35px;
  background-color: rgb(145, 113, 174);
  margin-right: 75px;
  border: 2px solid black;
}
